<html>
	<style type="text/css">
		body{
			background-color: aqua;
		}
	</style>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script type="text/javascript">
	
	</script>
	<body>
		<h4>%title%</h4>
		<form>
			min : <input type="number" name="minDan" value="%minDan%" />
			max : <input type="number" name="maxDan" value="%maxDan%" />
			<input type="submit" value="send" />
		</form>
		<table>
			%gugudanTrTags%
		</table>
	</body>
</html>